<div class="sidebar" id="sideLeft">
	<div id="navigation">
		<a href="./">battledisks</a><br /> <a id="log_in"
			href="/login.html?return_to=battledisks%2Fapi%3Faction%3DLOG_IN">log
			in</a><br /> <a id="shop" href="shop.html">shop</a><br /> <a
			class="table_list" href="table_list.html">table list</a><br /> <a
			class="new_table"
			href="/login.html?return_to=battledisks%2Fnew_table.html">new
			table</a><br /> <a class="leaderboard" href=leaderboard.html>leaderboard</a><br />
	</div>
</div>