<div id="contextMenu" style="position: absolute;">
	<div class="menuItem DISK_INFO">
		<span class="icon">I</span><span class="text">name</span> <span
			style="right: 0;">&#x25B6;</span>
	</div>
	<div class="menuItem MOVE">
		<img src="/battledisks/i/move_icon.png" class="icon"><span
			class="text">Move</span>
	</div>
	<div class="menuItem REINFORCE">
		<img src="/battledisks/i/move_icon.png" class="icon"><span
			class="text">Move</span>
	</div>
	<div class="menuItem SPELL">
		<span class="icon">S</span> <span class="text">Cast Spell</span>

	</div>
	<div class="menuItem ARROW">
		<span class="icon">A</span><span class="text">Fire <span
			class="count"></span> Arrows
		</span>
	</div>
	<div class="menuItem BOLT">
		<span class="icon">B</span><span class="text">Fire Bolts</span>
	</div>
	<div class="menuItem FIREBALL">
		<span class="icon">F</span><span class="text">Fire Fireballs</span>
	</div>
	<div class="menuItem BOULDER">
		<span class="icon">O</span><span class="text">Fire Boulders</span>
	</div>
	<div class="menuItem ACTIVATE">
		<img alt="A" src="/battledisks/i/Activation.png" class="icon"><span
			class="text">Activate</span>
	</div>
	<div class="menuItem END_ACTIVATIONS">
		<img alt="E" src="/battledisks/i/end_activations_icon.png"
			class="icon"><span class="text">End Activations</span>
	</div>
	<div class="menuItem END_REINFORCEMENTS">
		<span class="icon">C</span><span class="text">End
			Reinforcements</span>
	</div>
	<div class="menuItem END_MISSILES">
		<span class="icon">S</span><span class="text">End Missiles</span>
	</div>
	<div class="menuItem SELECT_ATTACKEE">
		<span class="icon">T</span><span class="text">Select Attackee</span>
	</div>
	<div class="menuItem SELECT_DEFENDEE">
		<span class="icon">D</span><span class="text">Select Defendee</span>
	</div>
	<div id="diskInfo"
		style="display: none; position: fixed; left: 0; top: 0; padding: 0px 3px;">
		<div id="player"></div>
		<div>
			<span id="faction">Elf</span>, <span id="alignment">Good</span>, <span
				id="cost">4</span> Points
		</div>
		<div>
			<span id="attack">4</span> Attack, <span id="defense">4</span>
			Defense
		</div>
		<div>
			<span id="toughness">4</span> Toughness, <span id="wounds">1</span>
			Wounds
		</div>
		<div>
			<span id="movement">4</span> Flips,<span id="diameter">4</span>
			Diameter,<span id="flying"></span>
		</div>
		<div></div>
	</div>
	<ol id="spells"
		style="display: block; position: fixed; left: 0; top: 0; padding: 0px 3px;">
		<li>ZIP</li>
		<li>ZIP</li>
		<li>ZIP</li>
	</ol>
</div>