<div id="tableInfo" class="collapsible rightHighlight sidebar"
	style="float: right; clear: both; box-shadow: -4px 5px 15px rgba(0, 0, 0, 0.35);">
	<div class="title">
		<img id="loading" src="/loading13.gif" /> <a id="refresh">↻</a> <span
			class="toggler up"></span> <span>#<span id="tableId"></span></span>
	</div>

	<div class="content">
		<div id="slider" style="margin: 4px 12px;"></div>
		<ol id="boardSegment">
			<li class="JOIN">Players Joining
				<ol class="playerOrder"></ol>
			</li>
			<li class="REINFORCEMENTS">Placing Reinforcements
				<ol class="playerOrder"></ol>
			</li>
			<li class="ACTIVATION">Activations
				<ol class="playerOrder"></ol>
			</li>
			<li class="MISSILE">Missiles
				<ol class="playerOrder"></ol>
			</li>
			<li class="COMBAT">Resolve Combat
				<ol class="playerOrder"></ol>
			</li>
			<li class="REMOVE_COUNTERS">Remove Counters
				<ol class="playerOrder"></ol>
			</li>
		</ol>
	</div>
</div>