html {
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	font-family: Open Sans;
	overflow-x: hidden;
}

ol, ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

p {
	margin: 0;
}

td, th {
	border: thin black solid;
}

.previous { //
	display: none;
}

#mp {
	max-height: 50%;
	overflow-y: scroll;
	top: initial;
	bottom: 0px;
}

.collapsible {
	border: medium black solid;
	border-radius: 6px;
	background: rgba(255, 255, 255, .8);
	margin: 6px;
}

.collapsible .title {
	font-size: 1.0em;
	font-weight: bold;
}

.toggler {
	cursor: pointer;
}

.toggler.up:after {
	content: "\25B2";
}

.toggler.down:after {
	content: "\25BC";
}

#loading {
	position: absolute;
	width: 16px;
	height: 16px;
	margin: 4px 0 0 1px;
	display: block;
	cursor: pointer;
}

#refresh {
	font-weight: bold;
	font-size: large;
	text-decoration: none;
	float: left;
	cursor: pointer;
}

.content {
	clear: both;
}

.playerOrder {
	margin-left: 1em;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

.sidebar, .sidebar * {
	z-index: 2;
}

.rightHighlight {
	position: relative;
	background: rgba(255, 255, 255, .8);
	padding: 6px;
	float: right;
	clear: both;
	border-right: none;
	border-radius: 0 0 0 6px;
	box-shadow: -6px 6px 12px rgba(0, 0, 0, 0.35);
	margin-bottom: 9px;
}

#navigation {
	background-color: rgba(230, 230, 230, .8);
	z-index: 2;
	top: 0;
	position: absolute;
	padding: 6px;
	margin-right: 12px;
	left: 0;
	box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.35);
	border-radius: 0px 0px 6px 0px;
}

#sideRight {
	position: absolute;
	right: 0;
	max-width: 30%;
}

#open_tables li, #active_tables li {
	padding-bottom: 0.5em;
}

#open_tables li ol li, #active_tables li ol li {
	padding-left: 1em;
}

#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}

#table {
	height: 100%;
	width: 100%;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#table canvas {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
}

#tableInfo {
	border-radius: 0 0 0 6px;
	border: none;
	border-left: thin black solid;
	border-bottom: thin black solid;
	margin: 0;
	border-left: thin black solid;
	background-color: rgba(230, 230, 230, .8);
}

.currentPlayerSegment {
	font-weight: bold;
}

.currentSegment {
	font-style: italic;
}

#contextMenu, #diskInfo {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	border: thin black solid;
	background: rgba(255, 255, 255, .8);
	z-index: 2;
}

#contextMenu .menuItem {
	padding: 0px 3px;
	cursor: pointer;
}

#contextMenu .menuItem .icon {
	width: 16px;
	display: inline-block;
	padding-right: 3px;
	text-align: center;
}

#contextMenu .menuItem .text {
	border-left: thin black groove;
	white-space: nowrap;
}

#contextMenu .menuItem:hover {
	background: rgba(205, 205, 255, .8);
}

#contextMenu .menuItem.disabled:hover {
	background: inherit;
	cursor: inherit;
}